@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Skranji:wght@400;700&display=swap');

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

    --footerNheaderSize: 10vh;
}

body {
    margin: 0 100px;
}

/* Container Formating */

header, footer {
    background-color: red;
    height: var(--footerNheaderSize);
}
.container {
     height: 100vh;
     background-color: blue;
}
#hero-section, 
#cta-section {
    height: calc(100vh - var(--footerNheaderSize));
    background-color: pink;
}

/* ------------------- */

header, 
#logo-section,
#header-links {
    display: flex;
}